
body{ color: #333; font-family: 'Montserrat', sans-serif; font-size: 14px; font-weight: 500;}
h1,h2,h3,h4,h5,h6{}
.title h2{ font-size: 25px; font-weight: 700; text-align: center;}
.title h5{ font-size: 16px; font-weight: 700; text-align: center;}
.btn{ font-weight: 500; }
.btn-group-sm>.btn, .btn-sm{ font-size: 12px; }
.column-2{ columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2; }

.column-3{ columns: 3;
  -webkit-columns: 3;
  -moz-columns: 3; }

.list1{ margin: 0px; list-style: none; padding: 0px;}
.list1 li{ margin-bottom: 10px; }
.list1 li a{ padding-left: 20px; position: relative; display: block; color: #333; }
.list1 li a::after{ content: "\F142"; font-family:"Material Design Icons"; position: absolute; left: 0; top: 0; color: #333; }


.mega-menu ul li a{ font-size: 12px; color: #333; }

header{ position: absolute; width: 100%; left: 0; z-index: 1; }
header .header-top{ text-transform: uppercase; font-size: 12px;}
header .header-top a{ color: #333; }
header .header-top ul li{ border-right: 1px solid #dee2e6; }
header .header-top ul.left li:last-child{ border: none; }

header .header-bottom .navbar-mn .dropdown-menu{ border-radius: 0px; padding-top: 15px; padding-bottom: 15px; margin-top: 0px; border:none; -webkit-box-shadow: 2px 2px 9px -1px rgba(0,0,0,0.34);
-moz-box-shadow: 2px 2px 9px -1px rgba(0,0,0,0.34);
box-shadow: 2px 2px 9px -1px rgba(0,0,0,0.34);}

header .header-bottom .navbar-mn .dropdown-toggle::after{ display: none; }
header .header-bottom .navbar-mn .dropdown-toggle::before{ 
width: 0;
height: 0;
border-style: solid;
border-width: 0 7px 7px 7px;
border-color: transparent transparent #333 transparent;
content: "";
position: absolute;
bottom: -6px;
left: 50%; margin-left: -7px;
opacity: 0;
 }
 header .header-bottom .navbar-mn .dropdown-toggle:hover::before{ opacity: 1; }

header .header-bottom .navbar-light .navbar-nav .nav-link{ font-weight: 600; padding-left: 15px; padding-right: 15px; position: relative;}
header .header-bottom .logo{ padding: 10px; display: block; }
header .header-bottom .logo img{  height: 50px; }
header .header-bottom .right a{ color: #333; }
header .header-bottom .right i{ font-size: 30px; }
header .header-bottom .right .dropdown{ position: relative; }
header .header-bottom .right .dropdown-toggle::after{ display: none; }
header .header-bottom .right .dropdown span{
    position: absolute; height: 15px; width: 15px; border-radius: 50%; background-color: #333; color: #fff; top: 14px; right: 14px; text-align: center; line-height: 16px; font-size: 8px; font-weight: 500;}
.section1{ font-size: 15px; font-weight: 600; }
.section3 .img-box{ position: relative; overflow: hidden;}
.section3 .icon-box{ position: absolute; width: 100%; background-color: rgba(0,0,0,0.5);  bottom: -200px; transition:all 0.5s;}
.section3 .swiper-slide:hover .icon-box{ bottom: 0; } 
.section3 .icon-box li{ margin: 0 10px; }
.section3 .icon-box a{ width: 40px; height: 40px; line-height: 42px; background-color: #fff; display: block; color: #333; border-radius: 50%; font-size: 20px;}
.section3 .box-text{ font-size: 16px; font-weight: 600; color: #8b8b8b;}
.section3 .box-text .price{ color: #333; }
.section3 .swiper-button-next,
.section3 .swiper-button-prev{ background-image: none; background-color: #000; padding: 0px 0px; width: auto; height: auto; color: #fff; font-size: 40px; top: 35%;}
.section3 .swiper-button-next{ right: 0; }
.section3 .swiper-button-prev{ left: 0; }

.box-text{ font-size: 16px; font-weight: 600; color: #8b8b8b;}
.box-text .price{ color: #333; }
.box-text .btn{ letter-spacing: 1px; }

.section5 .swiper-slide{ border: 1px solid #dee2e6; padding: 20px; margin-top: -1px !important;}

.section5 .swiper-button-next,
.section5 .swiper-button-prev{ background-image: none; position: static; color: #333; padding: 0px 5px; font-size: 20px; margin: 0px; display: block; width: auto; height: auto; border: 1px solid #dee2e6; }

.section5 .heading{ border: 1px solid #dee2e6; padding: 10px;}

.section6{ background-color: #f7f7f7; padding: 100px 0; }
.section6 .swiper-container{ padding-bottom: 50px; }
.section6 .swiper-slide{ padding: 0 150px; }
.section6 .avt{ border:3px solid #333; border-radius: 50%; margin-bottom: 20px;}
.section6 .name{ font-weight: 700; font-size: 20px; margin-bottom: 5px; }
.section6 .swiper-pagination-bullet-active{ background-color: #333; }

.section7{ background-image: url(../img/sub-bg.png); background-size: cover; padding: 50px 0; }
.section7 .left{ font-size: 18px; color: #fff; }
.section7 .left img{ vertical-align: middle; }
.section7 .right .form-control{ border-radius: 0px; background-color: transparent; border:none;border-bottom:1px solid #fff; font-size: 14px;}
.section7 .right .form-control::placeholder{ color: rgba(255,255,255,0.5); }
.section7 .right .btn-light{ color: #da8a4f; font-size: 15px; font-weight: 400; border-radius: 0px; }

.section8{ padding: 100px 0; }

footer{ padding-top: 100px; background-color: #1c1c1c; }
footer h6{ color: #fff; margin-bottom: 25px; }

footer h6{ font-weight: 600; }
footer .list1 li a,
footer .list1 li a::after{color: #fff;}
footer ul.list1 li.map a::after{ content: "\F34E";}
footer ul.list1 li.phone a::after{ content: "\F3F2";}
footer ul.list1 li.mail a::after{ content: "\F1EE";}

footer .social{ text-align: center; list-style: none; position: relative;}
footer .social:after{ content: ""; position: absolute; width: 100%; height: 1px; background-color: rgba(255,255,255,0.5); top: 50%; left: 0; }
footer .social li{ background-color:#1c1c1c; position: relative; z-index: 1;}
footer .social li a{ width: 45px; height: 45px; line-height: 45px; text-align: center; background-color: #fff; color: #000; border-radius: 50%; display: block; margin: 0 10px; font-size: 20px;}
footer .card-pay li{ margin: 0 10px; }
footer .copyright{ color: #fff; }

@media screen and (min-width: 992px) {  
.navbar { padding-top:0px; padding-bottom:0px; }
.navbar .nav-item { padding:.5rem .5rem;  margin:0 .25rem;}
.navbar .dropdown {position:static;}
.navbar .dropdown-menu { width:100%; left:0; right:0; top:52px; }
.navbar .dropdown:hover .dropdown-menu,
.navbar .dropdown .dropdown-menu:hover {  display:block!important; }
.navbar .dropdown-menu { border: 1px solid rgba(0,0,0,.15); background-color: #fff; }

}

